
/* div rule used for formatting page */

div {
  outline: 1px dashed orangered;
}

/* color cards formatting at top of page*/
.cards{
  height: 320px;
  width: 100%;
  margin-top: 30px;
}

/*format each individual card*/
mat-grid-tile{ 
  border-radius: 10px; 
}


/* remove button formatting */
.remove{
    position: absolute;
    top: 5px;
    left: 5px;
}
.removeicon{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}


  /* adjust and change color options */
  .color-box {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: auto;
    margin-bottom: 30px; 
    padding: 5px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8); 
    width: 45%; 
    max-width: 200px;
  }
  .color-input {
    border: none;
    outline: none;
    font-size: 14px;
    width: 50%;
    color: #282525;
    background: transparent;
    cursor: pointer;
  }
  .color-picker {
    border: none;
    outline: none;
    width: 40%;
    height: 30px;
    cursor: pointer;
    padding: 0;
    background: transparent;
  }

  /*add a new card button*/
  .add-button {
    position: absolute;
    top:330px;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
  }

  .child{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
  }